# creating an empty Pandas Series:

In [4]:
import pandas as pd
s=pd.Series()
print(s)

Series([], dtype: float64)

In [ ]:
# import pandas as pd

In [7]:
i=pd.Series([1,2,3,4,5,6,7,8])

In [8]:
print(i)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

# Pandas Series of characters:

In [10]:
c=pd.Series(['d','i','n','e'])
print(c)

0    d
1    i
2    n
3    e
dtype: object

In [12]:
c1=pd.Series()
print(c1)

Series([], dtype: float64)

In [14]:
c2=pd.Series(['dinesh'])

In [15]:
print(c2)

0    dinesh
dtype: object

In [16]:
for i in c2:
    print(i)

dinesh

# random Pandas Series of float numbers

In [17]:
f=pd.Series(1.5)
print(f)

0    1.5
dtype: float64

In [21]:
f1=pd.Series([1.5,2.5,4.2])
print(f1)

0    1.5
1    2.5
2    4.2
dtype: float64

In [22]:
import numpy as np
n=pd.Series(np.random.randn(5))

In [23]:
print(n)

0    0.399729
1    0.446270
2    0.547510
3    0.382967
4    1.560895
dtype: float64

In [26]:
n.index

RangeIndex(start=0, stop=5, step=1)

In [24]:
print(n[1])

0.4462695831319335

In [25]:
for i in n:
    print(i)

0.3997290967593318
0.4462695831319335
0.5475103866460926
0.38296657640690646
1.56089496871205

# Indexing assignment

In [28]:
i=pd.Series(np.random.randn(5),index=['a','b','c','d','e'])

In [29]:
print(i)

a   -0.409818
b   -0.451310
c   -0.126083
d   -0.247080
e   -0.920725
dtype: float64

In [33]:
import string
[i  for i in string.ascii_lowercase[:5]]

['a', 'b', 'c', 'd', 'e']

In [35]:
i2=pd.Series(np.random.randn(5),index=[i for i in string.ascii_lowercase[:5]])

In [36]:
print(i2)

a    0.490922
b    1.224590
c   -0.417628
d   -0.068760
e   -0.441020
dtype: float64

# create a Pandas Series from a dictionary

In [37]:
dictionary= {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}

In [38]:
d=pd.Series(dictionary)

In [39]:
print(d)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [79]:
print(d['a'])

1

In [40]:
print(type(d))

<class 'pandas.core.series.Series'>

In [43]:
array=[1,2,3,4,5]

In [44]:
a=pd.Series(array)

In [45]:
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

# INdexing on Panda Series

In [48]:
print(d[0])

1

In [51]:
print(d['c'])

3

In [53]:
print(a[2])

3

In [57]:
d[[1,2]]

b    2
c    3
dtype: int64

In [58]:
d[[1,2,3]]

b    2
c    3
d    4
dtype: int64

In [59]:
d[2:]

c    3
d    4
e    5
dtype: int64

In [60]:
d[:2]

a    1
b    2
dtype: int64

In [61]:
a[:2]

0    1
1    2
dtype: int64

In [62]:
d[['b','d']]

b    2
d    4
dtype: int64

# Assign Value to dictionary

In [63]:
s= {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}

In [69]:
s[1]=100

In [66]:
print(s)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 1: 100}

In [72]:
s['b']=200

In [73]:
print(s)

{'a': 1, 'b': 200, 'c': 3, 'd': 4, 'e': 5, 1: 100}

In [75]:
s.get('b')

200

In [77]:
d+d

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [ ]:
# DataFrame
Works on Tabular model with coulmn and row concepts

In [3]:
import pandas as pd
d=pd.DataFrame()

In [4]:
print(d)

Empty DataFrame
Columns: []
Index: []

In [7]:
# Creating empty structure on Data Frame
d1=pd.DataFrame(columns=['A','B','C','D','E'])

In [8]:
print(d1)

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

In [10]:
d2=pd.DataFrame(columns=['A','B','C','D','E'],index=range(1,6))

In [12]:
d2

     A    B    C    D    E
1  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN  NaN

In [16]:
# Creating a DataFrame passing a NumPy array:
array={'A':[1,2,3,4],'B':[5,6,7,8]}

In [17]:
array

{'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]}

In [18]:
pd.DataFrame(array)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [24]:
array = {'A':[1, 2, 3, 4], 'B':[4, 3, 2, 1]}
index=pd.DatetimeIndex(['2018-12-01',
'2018-12-02',
'2018-12-03',
'2018-12-04'])
pd.DataFrame(array,index=index)

            A  B
2018-12-01  1  4
2018-12-02  2  3
2018-12-03  3  2
2018-12-04  4  1

# Creating a DataFrame passing a Dictionary:

In [29]:
dictionary={'a':1,'b':2,'c':3}

In [31]:
pd.DataFrame([dictionary])

   a  b  c
0  1  2  3

In [50]:
# VIew DataFrame
import numpy as np
df=pd.DataFrame({'Column1':np.random.randn(10),'Column2':np.random.randn(10),'Column3':np.random.randn(10)})

In [51]:
df

    Column1   Column2   Column3
0 -0.642055 -0.665102 -0.659098
1 -0.554986 -1.488008  0.514247
2 -0.477948 -1.252711 -0.723714
3  0.299409  1.150273 -0.698110
4 -0.547801  2.037469  0.478552
5 -0.472533 -0.083241  0.209495
6 -0.268796  0.611720 -0.635639
7 -0.402008  0.130873 -0.220286
8  1.150950  0.245396 -1.026784
9  0.322348 -0.223986  0.290291

In [52]:
# Get COlumns
df.columns

Index(['Column1', 'Column2', 'Column3'], dtype='object')

In [53]:
df.head(2)

    Column1   Column2   Column3
0 -0.642055 -0.665102 -0.659098
1 -0.554986 -1.488008  0.514247

In [54]:
df.tail(2)

    Column1   Column2   Column3
8  1.150950  0.245396 -1.026784
9  0.322348 -0.223986  0.290291

In [56]:
df.values

array([[-0.64205481, -0.66510203, -0.65909798],
       [-0.55498595, -1.48800849,  0.51424737],
       [-0.47794775, -1.25271118, -0.72371424],
       [ 0.2994086 ,  1.15027293, -0.69810953],
       [-0.54780093,  2.03746939,  0.47855174],
       [-0.47253301, -0.08324083,  0.20949468],
       [-0.2687963 ,  0.61171971, -0.63563884],
       [-0.40200776,  0.1308735 , -0.22028638],
       [ 1.15095011,  0.24539629, -1.02678356],
       [ 0.32234774, -0.22398558,  0.29029055]])

In [63]:
df['Column1']

0   -0.642055
1   -0.554986
2   -0.477948
3    0.299409
4   -0.547801
5   -0.472533
6   -0.268796
7   -0.402008
8    1.150950
9    0.322348
Name: Column1, dtype: float64

In [48]:
# Data Frame Index
df=pd.DataFrame({'A':np.random.randn(10),
'B':np.random.randn(10),
'C':np.random.randn(10)})

df.index

RangeIndex(start=0, stop=10, step=1)

In [73]:
#Importing data 
read_csv
read_table
read_excel

In [3]:
# Creating Series

In [4]:
import pandas as pd
pd.Series([-1,2,4,6])

0   -1
1    2
2    4
3    6
dtype: int64

# Creating series with custom index

In [6]:
pd.Series([1,2,3],index=['A','B','C'])

A    1
B    2
C    3
dtype: int64

In [7]:
pd1=pd.Series([1,2,3])

In [8]:
pd1

0    1
1    2
2    3
dtype: int64

In [9]:
pd1.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
pd1.index=['X','Y','Z']

In [13]:
pd1

X    1
Y    2
Z    3
dtype: int64

In [15]:
import numpy as np
indexs = pd.Index(np.arange(3))
pd.Series(['x','y','z'],index=indexs)

0    x
1    y
2    z
dtype: object

# Create Series with Python Dictonary

In [19]:
pd.Series({'X':1,'Y':2,'Z':3})

X    1
Y    2
Z    3
dtype: int64

In [20]:
z=pd.Series({'X':1,'Y':2,'Z':3})

In [21]:
z

X    1
Y    2
Z    3
dtype: int64

In [22]:
# Both the Series object itself and its index have a name attribute
z.name='SampleData'
z.index.name = 'label'

In [26]:
z

label
X    1
Y    2
Z    3
Name: SampleData, dtype: int64

In [25]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
pd.Series(dict1,index=['a','b','c','d'])

a    1.0
b    2.0
c    3.0
d    NaN
dtype: float64

# Inspecting Series

In [27]:
z

label
X    1
Y    2
Z    3
Name: SampleData, dtype: int64

In [28]:
z.values # Getting values

array([1, 2, 3], dtype=int64)

In [29]:
# get the index details
z.index

Index(['X', 'Y', 'Z'], dtype='object', name='label')

In [30]:
index = z.index # Assigning

In [31]:
index

Index(['X', 'Y', 'Z'], dtype='object', name='label')

In [32]:
index[1:]

Index(['Y', 'Z'], dtype='object', name='label')

Note:Index objects are immutable and thus can’t be modified

In [37]:
# Acessing values by using labels
print(z['Y'])

2

In [40]:
print(z[['Y','X']])

label
Y    2
X    1
Name: SampleData, dtype: int64

In [41]:
z < 3

label
X     True
Y     True
Z    False
Name: SampleData, dtype: bool

In [42]:
z[z<3]# Filter

label
X    1
Y    2
Name: SampleData, dtype: int64

In [44]:
print('a' in z)
print('X' in z)

False
True

# Detect missing data ('NaN')

In [45]:
import numpy as np
pds1 = pd.Series([-1, 2, 3, -5, np.nan])
pds1

0   -1.0
1    2.0
2    3.0
3   -5.0
4    NaN
dtype: float64

In [46]:
pds1.isnull()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [48]:
pds1.notnull()

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [50]:
pds1

0   -1.0
1    2.0
2    3.0
3   -5.0
4    NaN
dtype: float64